<!DOCTYPE html>
<html>
  <head>
    <title>Wicked Graphs</title>
    <%= favicon_link_tag 'wicked-logo-red.png' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" media="all" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css" />
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap4.min.js"></script>
  </head>
  <body>
    <section id="main-section">
      <header class="container-fluid">
        <%= render "shared/nav" %>
      </header>
      <div class="container">
        <% if !@graph.nil? && @graph.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <p><%= pluralize(@graph.errors.count, "error") %> prohibited this graph from being saved:</p>
            <ul>
            <% @graph.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </section>
  </body>
</html>
